{% extends "base.html" %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
<h2>Add Card Page</h2>
<form enctype='multipart/form-data' method="post"  class="needs-validation" action="/create_card">
    <div class="form-outline mb-4">
      <input type="text" name="card_name" class="form-control form-control-lg" placeholder="Card Name" autofocus="" maxlength="100" required/>
    </div>
    <div class="form-outline mb-4">
      <input type="text" name="card_description" class="form-control form-control-lg" placeholder="Card Description" maxlength="1000" required/>
    </div>
    <div class="form-outline mb-4">
      <input type="file" name="image" class="form-control form-control-lg" placeholder="Card Image" required/>
    </div>
    <select id="card_category" name="card_category">
      {% for category in categories %}
        <option value="{{category.id}}">{{category.category_name}}</option>
      {% endfor %}
    </select>
    <div class="d-flex justify-content-center">
      <button type="submit"
        class="btn btn-success btn-block btn-lg">Create Card</button>
    </div>
  </form>
</div>
{% endblock %}
