<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
</head>

<style>
	* {
		font-family: "Inter";
	}

	nav {
		background-color: "#3366CC";
	}
	
	.carousel-card {
		min-height: 450px;
		max-height: 450px;
	}

	.wallet_bar {
		background-color: "#3366CC";
		color: greenyellow;
	}

	body {
		padding-top: 3em;
		padding-bottom: 3em;
	}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" style="font-weight: 900">Cardz By Lantz</a>
			<ul class="navbar-nav navbar-right">
				<li class="active">
					<a href="{{ url_for('main.index') }}" class="nav-link">
						Home
					</a>
				</li>

				<li class="active">
					<a href="{{ url_for('listing.explore') }}" class="nav-link">
						Explore
					</a>
				</li>

				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('listing.display_listing') }}" class="nav-link">
						Listings
					</a>
				</li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('card.display_card') }}" class="nav-link">
						Cards
					</a>
				</li>
				{% endif %}

				{% if not current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('auth.login') }}" class="nav-link" >
						Login
					</a>
				</li>
				{% endif %}

				{% if not current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('auth.register') }}" class="nav-link">
						Sign Up
					</a>
				</li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('transaction.display_transactions') }}" class="nav-link">
						History
					</a>
				</li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('main.profile') }}" class="nav-link">
						Profile
					</a>
				</li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('auth.logout') }}" class="nav-link">
					Logout
				</a>
				</li>
				{% endif %}

				{% if current_user.permission_level is eq(1) %}
				<li>
					<a href="{{ url_for('auth.admin') }}" class="nav-link">
					Admin
				</a>
				</li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li class="wallet_bar" style="margin-left: 20px">
					<a class="nav-link" style="color: greenyellow !important;">
					Wallet balance: ฿{{ current_user.wallet_balance }}
					</a>
				</li>
				{% endif %}
				{% if current_user.is_authenticated %}
				<li>
					<form method="POST" action="\add_wallet_balance">
						<button class="btn btn-success" type="submit" style="border: 1px green solid">+</button>
					</form>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
	</div>
</body>

</html>
