{% extends "base.html" %}
{% block content %}
<h2>Card Page</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Card Name</th>
            <th scope="col">Card Description</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.card_name }}</td>
                <td>{{ card.card_description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('card.create_card') }}">
    <button class="btn btn-success btn-block btn-lg">Add Card</button>
</a>
{% endblock %}