{% extends "base.html" %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
	<div class="row">
		<div class="col-lg-9">
			<h2>Explore Page</h2>
		</div>
	</div>
	<div class="row pt-3 mt-3">
		{% for listing in listings %}
		<div class="card flex-row position-relative bg-light mx-auto mb-3" style="max-width: 50rem;">
			<img class="card-img-left example-card-img-responsive" src="{{ card_images[listing.card_id] }}" width="150" height="150" style="min-width:150px; min-height: 150px;"/>
			<div class="card-body">
				<h4 class="card-title h5 h4-sm"><b>{{listing.listing_name}}</b></h4>
				<p class="card-text"><b>Price:</b> {{listing.listing_price}} ฿</p>
				<p class="card-text text-black-50">{{ listing.listing_description|truncate(80, true, '...') }}</p>
				<a href= "{{url_for('listing.view_listing', listing_id=listing.id)}}" class= "stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
