{% extends "base.html" %}

{% block content %}

<section class="vh-100">
<div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center text-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
			<h1>
				<b>
				Flask Login Example
				</b>
			</h1>
			<h2>
				Easy authentication and authorization in Flask.
			</h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
