{% extends "base.html" %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <h2 class="text-uppercase text-center mb-5">Transaction Summary</h2>
      <div class="d-flex card flex-row position-relative bg-light mx-auto mb-3" style="max-width: 50rem;">
        <img class="card-img-left example-card-img-responsive" src="{{card.card_image}}" width='300' hight='400'/>
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">Name: {{card.card_name}}</h4>
                <h4 class="card-title h5 h4-sm">Description: {{card.card_description}}</h4>
                <h4 class="card-title h5 h4-sm">Date: {{transaction.transaction_date}}</h4>
                <h4 class="card-title h5 h4-sm">Price: {{transaction.transaction_price}}</h4>
                <a href="{{url_for('card.view_card', card_id=card.id)}}" class="stretched-link"></a>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}