{% extends "base.html" %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
  <div class="card flex-row position-relative bg-light mx-auto mb-3" style="max-width: 50rem;">
      <img class="card-img-left example-card-img-responsive" src="{{card_images[listing.card_id]}}" width='300' hight='400'/>
      <div class="card-body">
        <h4 class="card-title h5 h4-sm">Name: {{listing.listing_name}}</h4>
        <h4 class="card-title h5 h4-sm">Description: {{listing.listing_description}}</h4>
        <h4 class="card-title h5 h4-sm">Price: {{listing.listing_price}} ฿</h4>
      </div>
      <div>
        <form action="/buy_listing/{{listing.card_id}}" method="POST">
          <button>Buy card</button>
        </form>
      </div>
  </div>
</div>
{% endblock %}