{% extends "base.html" %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
  <div class="card flex-row position-relative bg-light mx-auto mb-3" style="max-width: 50rem;">
      <img class="card-img-left example-card-img-responsive" src="{{card_images[listing.card_id]}}" width='300' hight='400'/>
      <div class="card-body">
        <h3 class="card-title h2 h4-mm">Status: {{listing.listing_status}}</h3>
        <h4 class="card-title h5 h4-sm">Name: {{listing.listing_name}}</h4>
        <h4 class="card-title h5 h4-sm">Description: {{listing.listing_description}}</h4>
        <h4 class="card-title h5 h4-sm">Price: {{listing.listing_price}} ฿</h4>
      </div>
      {% if not listing.owner_id == current_user.id %}
      <div>
        <form action="/buy_listing/{{listing.id}}" method="POST">
            <button type="submit" class="btn btn-primary">Buy Card</button>
          </form>
        </div>
      {% endif %}

      {% if listing.owner_id == current_user.id and listing.status == 1%}
      <div>
        <form action="/edit_listing/{{listing.id}}" method="get">
            <button type="submit" class="btn btn-primary">Edit Listing</button>
          </form>
        </div>
      {% endif %}
  </div>
</div>
{% endblock %}